header{
    height:100px;
    background-color: black;
}
body{
    margin:0px;
}
footer{
    background-color:#232f3e;
    color:white;
}
.primary-navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    color:white;
    background-color: black;
    padding-left:20px;
    padding-right: 20px;
    align-items: center;
}
.secondary-navbar{
    display: flex;
    justify-content: space-between;
    height:40px;
    color:white;
    background-color:#232f3e;
    padding-left:20px;
    padding-right: 20px;
    align-items: center;
}
.main-content{
    background-color:#e3e6e6;
}
.logo{
    height: 50px;
}
.search-section{
    height:40px;
    width: 40%;
    background-color:white;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0px;
}
.icon{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}
.slider{
    width:100%;
}
.box{
    width: 20%;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}
.category{
    justify-content: space-evenly;
    margin-top: -350px;
    display: flex;
}
.box-content{
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
}
.item{
    width: 45%;
}
.item img{
    width: 100%;
}
.item p{
    font-size: small;
}
.category2{
    margin-top: 30px;
    justify-content: space-evenly;
    display: flex;
}
.second-section{
    margin: 40px;
    padding:20px;
    border: 1px solid grey;
}
.scroll{
    padding:20px;
    overflow-x: scroll;
    display:flex;
}
.scroll img{
    padding-right: 30px;
}
.back-to-top{
    background-color: #37475a;
    height: 30px;
    display:flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
}
.sec-footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.sec-footer .box{
    background-color: transparent;
    font-size: 15px;
    border: none;
}
.sec-footer p{
    margin-top: 10px;
}
.bottom{
    display: flex;
    justify-content: center; 
}
.image{
    display: flex;
    align-items: center;
    padding: 10px;
}
.image img{
    height: 30px;
}
.third-sec{
    background-color: #131A22;
    display: flex;
    justify-content: center;
}
.third-sec .sec-footer .box .p{
    margin:0px;
}
.search-section{
    display: flex;
}
.search-section *{
    height:40px;
}
.search-section input{
    width:100%;
    height:35px;
}
.search-section button{
    border:none;
    background-color: orange;
}